    <header>
        <h1 class="text-center bg-primary  p-5 m-0">Baby Name Info Genrator</h1>
    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/Search">Search (auto gives Mary)</a>
        <a class="nav-link" href="/Random">Random Girl Name</a>
        <a class="nav-link" href="/RandomMan">Random Boy Name</a>
        <a class="nav-link" href="/Nick">Names associated with Nicholas</a>
      </div>
    </div>
  </div>
</nav>