<!DOCTYPE html>
<html lang="en">
<head>
    <!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <div class="apiReturn">
        <img src="<%= img %>">
    </div>
    <%- include("partials/footer.ejs") %>
    
</body>
</html>